a{
    text-decoration: none;
}
ul,
body{
    margin: 0; 
    padding: 0;   
}
li{
    list-style: none;
}
* {
    box-sizing: border-box;
}
.container{
    max-width: 1024px;
    margin: auto;
}
.header__main{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}
.header__nav{
    margin-left: auto;
}
.header__menu{
    display: flex;
}
.header__menu-link{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #454545;
    padding: 10px 18px;
    font-size: 12px;
}